parameters:
    customRulesetUsed: true

rules:
    - App\Test\PHPStan\DtoObjectsShouldHaveNameEndingInData

services:
	-
		class: App\Test\PHPStan\DtoObjectsShouldHaveNameEndingInData
		tags:
			- phpstan.rules.rule
