{% extends 'base.html.twig' %}

{% block title %}Edit Widget{% endblock %}

{% block body %}
    <h1>Edit Widget</h1>

    {{ include('widget/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('widget_index') }}">back to list</a>

    {{ include('widget/_delete_form.html.twig') }}
{% endblock %}
